/* styles/HoverEffect.module.css */
.container {
  background-color: #5e5eee;
  color: white;
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 30px;
  justify-content: space-evenly;
  gap: 1rem;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.container:hover {
  background-color: #6210ce;
}

.inner {
  background-color: white;
  padding: 0.25rem;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.container:hover .inner {
  transform: rotate(45deg);
}
